<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('components/metadata'); %>
</head>
<body>
    <main>
        <%- include('components/header'); %>
        <!-- <header>
            <h2>Main message board</h2>
        </header> -->
        <% for (let i = 0; i < messages.length; i++) { %>
         <% const msg = messages[i]; %>
            <div class="message">
                <header>
                    <div>
                        <h3><%= msg.user %></h3>
                        <time datetime="<%= msg.added.toISOString() %>"><%= msg.added.toLocaleTimeString() %></time>
                    </div>
                </header>
                <p class="message-content">
                    <%= msg.text %>
                </p>
            </div>
        <% } %>
        <div>
            <a href="/new">Create new post</a>
        </div>
    </main>
</body>
</html>